.wrapper {
  width: 100vw;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.content {
  /* width: calc(100vw + 128px); */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  background-color: #000;
  /* -webkit-overflow-scrolling: touch; */
  /* overflow-scrolling: touch; */
}

.hiddenElements {
  display: inline-block;
}

.button {
  height: 100%;
  border: 1px solid #dcdcdc;
  background-color: red;
}

.main,
.option1,
.option2 {
  display: inline-block;
}

.main {
  width: 100vw;
  color: #fff;
}
